Flask
Werkzeug
requests
pytest
flask-wtf
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
gunicorn
Jinja2
SQLAlchemy
WTForms
selenium
webdriver-manager
pytest-flask
pytest-selenium
pytest-html
